@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&display=swap');

* {
    font-family: 'Bubbler One';
}

.title {
    font-size: 96px;
    text-align: center;
    margin: 80px 0px;
}

.master-container{
    display: flex;
    width: 600px;
    height: 600px;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    border: solid;
    border-width: 1px;
}

.divContainPixel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.divPixel{
    flex-grow: 1;
    background-color: aqua;
    border: solid;
    border-width: 1px;
    display: flex;
}

.divPixel:hover{
    background-color: blue;
}

.divPixel.colored {
    background-color: brown;
}