@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&display=swap');

* {
    font-family: 'Bubbler One';
}

.title {
    font-size: 96px;
    text-align: center;
    margin: 20px 0px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activate{
    width: fit-content;
}

.master-container{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
    padding: 0;
    border: solid;
    border-width: 1px;
}

.divContainPixel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.divPixel{
    flex-grow: 1;
    background-color:antiquewhite;
    display: flex;
}

.divPixel:hover{
    background-color:darkgray;
}

.divPixel.colored {
    background-color:#2e2e2e;
}

.modal-container {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 15%; /* Could be more or less, depending on screen size */
}
  

.modal-title{
    margin: 20px 0px;
    font-size: 40px;
    text-align: center;
}

.canvasdetails-container{
    border: 1px solid #888;
    border-radius: 20px;
    padding: 10px;
}

.form{
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
}

input{
    width: 50px;
}
    

.buttonHouse{
    text-align: center;
    margin-top: 15px;
}

.submitButton{
    font-size: 20px;
}